:root {
  --VeryLightGrayishBlue: hsl(240, 78%, 98%);
  --LightGrayishBlue: hsl(234, 14%, 74%);
  --GrayishBlue: hsl(233, 13%, 49%);
  --DarkGrayishBlue: hsl(232, 13%, 33%);
  --LightViolet: hsl(236, 72%, 79%);
  --DarkViolet: hsl(237, 63%, 64%);
  --White: hsl(0, 0%, 100%);
}

* {
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 1em;
}

body {
  background: url(../images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: right -35vw top;
  background-color: var(--VeryLightGrayishBlue);
  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.top {
  transform: translateY(-200%);
  opacity: 0;
}

.title {
  font-size: 2.33em;
  color: var(--GrayishBlue);
}

.plan {
  padding-top: 0.66em;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1em;
  color: var(--LightGrayishBlue);
}

.plan-format {
  font-size: 0.86em;
}

#toggle {
  position: relative;
  width: 3.33em;
  height: 1.66em;
  appearance: none;
  border-radius: 1em;
  background: linear-gradient(to right, var(--LightViolet), var(--DarkViolet));
  outline: none;
  cursor: pointer;
}

#toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1.66em;
  background: var(--White);
  border-radius: 50%;
  transform: scale(1.1);
}

#toggle:checked:before {
  left: 1.66em;
}

.cards-container {
  padding-block: 3.33em;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  opacity: 0;
  transform: translateY(20%);
}

.card {
  text-align: center;
  background-color: var(--White);
  box-shadow: 0px 5px 0.66em gainsboro;
  width: 100%;
  max-width: 280px;
  padding-inline: 1em;
  padding-block: 1.33em;
  border-radius: 0.66em;
  color: var(--DarkGrayishBlue);
  margin-inline: 1.33em;
}

.card-plan {
  font-size: 1.33em;
}

.card-prices {
  font-size: 3.33em;
  font-weight: bold;
}

.hide {
  display: none;
}

.card-details {
  padding-block: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.detail {
  padding-block: 1em;
  font-size: 0.86em;
  font-weight: bold;
  border-top: 1px solid gainsboro;
}

.detail.bottom {
  border-bottom: 1px solid gainsboro;
}

.btn-more {
  background: linear-gradient(to right, var(--LightViolet), var(--DarkViolet));
  border: 1px solid var(--White);
  color: var(--White);
  width: 100%;
  padding: 1em;
  display: inline-block;
  border-radius: 0.33em;
  text-transform: uppercase;
  font-size: 0.73em;
  letter-spacing: 0.13em;
}

/* Appearance  of items */

.top.appear {
  transform: translateY(0%);
  opacity: 1;
}

.cards-container.appear {
  transform: translateY(0%);
  opacity: 1;
}

/* Middle card */
.midd {
  background: linear-gradient(to right, var(--LightViolet), var(--DarkViolet));
  color: var(--White);
}

.btn-more.midd {
  background: var(--White);
  color: var(--DarkViolet);
}

/* Hover effects */

@media (hover: hover) {
  .btn-more:hover {
    color: var(--DarkGrayishBlue);
    background: var(--White);
    border: 1px solid var(--DarkViolet);
  }

  .btn-more.midd:hover {
    background: linear-gradient(
      to right,
      var(--LightViolet),
      var(--DarkViolet)
    );
    color: var(--White);
    border: 1px solid var(--White);
  }
}
